{%extends "baseadmin.html"%}

{%block content%}

	<div class="container mt-5">
	<button class="btn btn-primary mt" data-toggle="modal" data-target="#exampleModal">Tambah Kandidat</button>
	<span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Izinkan Kandidat Muncul di halaman depan website">
		<form method="post" action="/admin/show_candidates" enctype="multipart/form-data">
			<button type="submit" class="btn btn-success mt" >Tampilkan Kandidat</button>
		</form>
	</span>

	<span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Tarik kandidat dari tampilan publik">
		<form method="post" action="/admin/undo_candidates" enctype="multipart/form-data">
			<button type="submit" class="btn btn-success mt" >Tarik Kandidat</button>
		</form>
	</span>
	<br><br>

    <br>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    <ul class=flashes>
	    {% for message in messages %}
	    <div class="alert alert-warning alert-dismissible fade show" role="alert">
		  <!-- <strong>Holy guacamole!</strong> You should check in on some of those fields below. -->
	      <font size="2" style="font-family: Copperplate;"><p class="lead">{{message}}</p></font>
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">&times;</span>
		  </button>
		</div>
	    {% endfor %}
	    </ul>
	  {% endif %}
	{% endwith %}

	<div class="modal fade" id="exampleModal" tabindex="-1" role="document" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Tambah Kandidat</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<form method="post" action="/admin/candidate" enctype="multipart/form-data">
			  <div class="form-group">
			    <label for="nama">Nama Kandidat</label>
			    <input type="text" class="form-control" id="nama" name="name" placeholder="Masukkan nama kandidat">
			  </div>

			  <div class="form-group">
			    <label for="nama">NIM</label>
			    <input type="text" class="form-control" id="nama" name="nim" placeholder="Masukkan Nim Kandidat">
			  </div>

			  <div class="form-group">
			    <label for="nama">Visi</label>
			    <input type="text" class="form-control" id="nama" name="visi" placeholder="Masukkan Visi kandidat">
			  </div>

			  <div class="form-group">
			    <label for="nama">Misi</label>
			    <input type="text" class="form-control" id="nama" name="misi" placeholder="Masukkan Misi kandidat">
			  </div>

			  <div class="form-group">
			    <label for="foto">Foto</label>
			    <div class="custom-file">
				  <input type="file" name="file" class="custom-file-input" id="customFile">
				  <label class="custom-file-label" for="customFile">Pilih berkas foto</label>
				</div>
			  </div>
			  <button type="submit" class="btn btn-primary">Submit</button>
			</form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>

	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">No.</th>
	      <th scope="col">Nama</th>
	      <th scope="col">Nim</th>
	      <th scope="col">Visi</th>
	      <th scope="col">Misi</th>
	      <th scope="col">Foto</th>
	      <th scope="col">Hapus</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{%for c in candidates%}
	    <tr>
	      <th scope="row">{{c.id}}</th>
	      <td>{{c.name}}</td>
	      <td>{{c.nim}}</td>
	      <td>{{c.visi}}</td>
	      <td>{{c.misi}}</td>
	      <td><a href="/static/img/{{c.filename}}"></a>
	      <td>
	      	<a class="btn btn-danger" href="/admin/hapus/{{c.id}}">Hapus</a>
	      	<a class="btn btn-primary" href="#" role="button" data-toggle="modal" data-target="#EditKandidat{{c.id}}">Edit</a>
			
			<!-- Edit Kandidat -->
			<div class="modal fade" id="EditKandidat{{c.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
				  <div class="modal-content">
				    <div class="modal-header">
				      <h5 class="modal-title" id="exampleModalCenterTitle">Visi dan Misi</h5>
				      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				        <span aria-hidden="true">&times;</span>
				      </button>
				    </div>
				    <div class="modal-body text-left">
				    	<form method="post" action="/admin/update/{{c.id}}" enctype="multipart/form-data">
						  <div class="form-group">
						    <label for="nama">Nama Kandidat</label>
						    <input type="text" class="form-control" id="nama" name="name" placeholder="Masukkan nama kandidat" value="{{c.name}}">
						  </div>

						  <div class="form-group">
						    <label for="nama">NIM</label>
						    <input type="text" class="form-control" id="nama" name="nim" placeholder="Masukkan Nim Kandidat" value="{{c.nim}}">
						  </div>

						  <div class="form-group">
						    <label for="nama">Visi</label>
						    <input type="text" class="form-control" id="nama" name="visi" placeholder="Masukkan Visi kandidat" value="{{c.visi}}">
						  </div>

						  <div class="form-group">
						    <label for="nama">Misi</label>
						    <input type="text" class="form-control" id="nama" name="misi" placeholder="Masukkan Misi kandidat" value="{{c.misi}}">
						  </div>

						  <div class="form-group">
						    <label for="foto">Foto</label>
						    <div class="custom-file">
							  <input type="file" name="file" class="custom-file-input" id="customFile">
							  <label class="custom-file-label" for="customFile">Pilih berkas foto</label>
							</div>
						  </div>
						  <button type="submit" class="btn btn-primary">Edit</button>
						</form>
				    </div>

				  </div>
				</div>
			</div>
	      </td>
	    </tr>
	    {%endfor%}
	  </tbody>
	</table>
	</div>

{%endblock%}